.feed {
  flex: 0.4;
  border-right: 1px solid #e6ecf0;
  overflow-y: scroll;
  min-width: 500px;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid #e6ecf0;
  padding: 15px 20px;
}

.feed-header > h2 {
  font-size: 20px;
  font-weight: 800;
}
