.tweetbox {
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 10px solid #e6ecf0;
}
.tweetbox > form {
  display: flex;
  flex-direction: column;
}

.tweetbox-input-row {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.tweetbox-input {
  flex: 1;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
}
.tweetbox-button {
  margin-top: 5px !important;
  margin-left: auto !important;
  background-color: #50b7f5 !important;
  border-radius: 30px !important;
  color: white !important;
  font-weight: 900 !important;
}
